# Виртуальное окружение (не грузим в Git)
venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Файлы данных (если будут большие)
*.xlsx
*.pdf

# Файлы VS Code (личные настройки)
.vscode/

# Файлы операционной системы
.DS_Store
Thumbs.db

*.pkl